{% extends "layout.html" %}
{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Foosball</a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="result.html"><i class="fa fa-fw fa-desktop"></i> Results</a>
                    </li>
                    <li class="active">
                        <a href="player.html"><i class="fa fa-fw fa-table"></i> Players</a>
                    </li>
                    <li>
                        <a href="team.html"><i class="fa fa-fw fa-table"></i> Teams</a>
                    </li>
                    <li>
                        <a href="teamstat.html"><i class="fa fa-fw fa-bar-chart-o"></i> Team Statistics</a>
                    </li>
                    <li>
                        <a href="playerstat.html"><i class="fa fa-fw fa-area-chart"></i> Player Statistics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Player
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <form class="form">
                            <div class="form-group">
                                <label for="input_first_name">First Name</label>
                                <input type="text" class="form-control" id="input_first_name" placeholder="First">
                            </div>
                            <div class="form-group">
                                <label for="input_last_name">Last Name</label>
                                <input type="text" class="form-control" id="input_last_name" placeholder="Last">
                            </div>
                            <div class="form-group">
                                <label for="input_nickname">Nickname (Optional)</label>
                                <input type="text" class="form-control" id="input_nickname">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}