{% extends "layout.html" %}
{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Foosball</a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ url_for('player') }}"><i class="fa fa-fw fa-user"></i> Players</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('team') }}"><i class="fa fa-fw fa-users"></i> Teams</a>
                    </li>
                    <li>
                        <a href="{{ url_for('result') }}"><i class="fa fa-fw fa-desktop"></i> Results</a>
                    </li>
                    <li>
                        <a href="{{ url_for('team_stat') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Team Statistics</a>
                    </li>
                    <li>
                        <a href="{{ url_for('player_stat') }}"><i class="fa fa-fw fa-area-chart"></i> Player Statistics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Team
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <form class="form">
                            <div class="form-group">
                                <label for="input_team_name">Team Name</label>
                                <input type="text" class="form-control" id="input_team_name" placeholder="Example Team">
                            </div>
                            <div class="form-group">
                                <label for="input_player_one">Player One</label>
                                <select class="form-control" id="input_player_one">
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_player_two">Player Two</label>
                                <select class="form-control" id="input_player_two">
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                    <option>Test Name</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}