{% extends "layout.html" %}
{% block body %}
<style>
.btn-danger {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
</style>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Foosball</a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="player.html"><i class="fa fa-fw fa-user"></i> Players</a>
                    </li>
                    <li>
                        <a href="team.html"><i class="fa fa-fw fa-users"></i> Teams</a>
                    </li>
                    <li>
                        <a href="result.html"><i class="fa fa-fw fa-desktop"></i> Results</a>
                    </li>
                    <li>
                        <a href="teamstat.html"><i class="fa fa-fw fa-bar-chart-o"></i> Team Statistics</a>
                    </li>
                    <li>
                        <a href="playerstat.html"><i class="fa fa-fw fa-area-chart"></i> Player Statistics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Players
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                {% if message %}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                {% endif %}

                {% if error %}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ error }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-primary" href="{{ url_for('add_player') }}" type="button">
                            Add Player
                        </a>
                    </div>
                </div>
                <!-- /.row -->
                
                <br>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Foosball Players</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Nickname</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for first_name, last_name, nickname in players %}
                                            <tr>
                                                <td>{{ first_name }}</td>
                                                <td>{{ last_name }}</td>
                                                <td>{{ nickname }}</td>
                                                <td><a class="btn btn-danger" href="{{ url_for('del_player') }}?first_name={{ first_name }}&last_name={{ last_name }}&nickname={{ nickname }}" type="button">Delete</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}